<a href="https://colab.research.google.com/github/kirti131/data-science/blob/main/pandasexcersice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

.Write a Pandas program to create a dataframe from a dictionary and display
it.
Sample data: {x:[78,85,96,80,86], y:[84,94,89,83,86],z:[86,97,96,72,83]}

In [ ]:
import pandas as pd
data={'x':[78,85,96,80,86],
      'y':[84,94,89,83,86],
      'z':[86,97,96,72,83]}
df=pd.DataFrame(data)
print(df)

    x   y   z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

Write a Pandas program to create and display a DataFrame from a specified
dictionary data which has the index labels.
Sample Python dictionary data and list labels:
exam_data = {&#39;name&#39;: [&#39;Anastasia&#39;, &#39;Dima&#39;, &#39;Katherine&#39;, &#39;James&#39;, &#39;Emily&#39;,
&#39;Michael&#39;, &#39;Matthew&#39;, &#39;Laura&#39;, &#39;Kevin&#39;, &#39;Jonas&#39;],
&#39;score&#39;: [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
&#39;attempts&#39;: [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
&#39;qualify&#39;: [&#39;yes&#39;, &#39;no&#39;, &#39;yes&#39;, &#39;no&#39;, &#39;no&#39;, &#39;yes&#39;, &#39;yes&#39;, &#39;no&#39;, &#39;no&#39;, &#39;yes&#39;]}
labels = [&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;, &#39;e&#39;, &#39;f&#39;, &#39;g&#39;, &#39;h&#39;, &#39;i&#39;, &#39;j&#39;]
Expected Output:
attempts name qualify score
a 1 Anastasia yes 12.5
b 3 Dima no 9.0
....
i 2 Kevin no 8.0
j 1 Jonas yes 19.0

In [ ]:
import numpy as np
import pandas as pd
data={'name':['Anastasia','Dina','Katherine','james','Emily','Michel','Mathhev','Laura','kevin','jonas'],
      'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
      'attemts':[1,3,2,3,2,3,1,1,2,1],
      'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes']}
labels=['a','b','c','d','e','f','g','h','i','j']
df=pd.DataFrame(data,index=labels)
print(df)

        name  score  attemts qualify
a  Anastasia   12.5        1     yes
b       Dina    9.0        3      no
c  Katherine   16.5        2     yes
d      james    NaN        3      no
e      Emily    9.0        2      no
f     Michel   20.0        3     yes
g    Mathhev   14.5        1     yes
h      Laura    NaN        1      no
i      kevin    8.0        2      no
j      jonas   19.0        1     yes

Write a Pandas program to get the first 3 rows of a given DataFrame.
Sample Python dictionary data and list labels:
exam_data = {&#39;name&#39;: [&#39;Anastasia&#39;, &#39;Dima&#39;, &#39;Katherine&#39;, &#39;James&#39;, &#39;Emily&#39;,
&#39;Michael&#39;, &#39;Matthew&#39;, &#39;Laura&#39;, &#39;Kevin&#39;, &#39;Jonas&#39;],
&#39;score&#39;: [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
&#39;attempts&#39;: [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
&#39;qualify&#39;: [&#39;yes&#39;, &#39;no&#39;, &#39;yes&#39;, &#39;no&#39;, &#39;no&#39;, &#39;yes&#39;, &#39;yes&#39;, &#39;no&#39;, &#39;no&#39;, &#39;yes&#39;]}
labels = [&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;, &#39;e&#39;, &#39;f&#39;, &#39;g&#39;, &#39;h&#39;, &#39;i&#39;, &#39;j&#39;]

In [ ]:
import numpy as np
import pandas as pd
data={'name':['Anastasia','Dima','katherine','James','Emily','Michael','Matthew','Laura','Kevin','Jonas'],
      'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
      'attempts':[1,3,2,3,2,3,1,1,2,1],
      'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes']}

labels=['a','b','c','d','e','f','g','h','i','j']
df=pd.DataFrame(data,index=labels)
first_3_rows=df.head(3)
print(first_3_rows)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  katherine   16.5         2     yes

Write a Pandas program to select the &#39;name&#39; and &#39;score&#39; columns from the
following DataFrame.
Sample Python dictionary data and list labels:
exam_data = {&#39;name&#39;: [&#39;Anastasia&#39;, &#39;Dima&#39;, &#39;Katherine&#39;, &#39;James&#39;, &#39;Emily&#39;,
&#39;Michael&#39;, &#39;Matthew&#39;, &#39;Laura&#39;, &#39;Kevin&#39;, &#39;Jonas&#39;],
&#39;score&#39;: [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
&#39;attempts&#39;: [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

Pandas Exercises
&#39;qualify&#39;: [&#39;yes&#39;, &#39;no&#39;, &#39;yes&#39;, &#39;no&#39;, &#39;no&#39;, &#39;yes&#39;, &#39;yes&#39;, &#39;no&#39;, &#39;no&#39;, &#39;yes&#39;]}
labels = [&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;, &#39;e&#39;, &#39;f&#39;, &#39;g&#39;, &#39;h&#39;, &#39;i&#39;, &#39;j&#39;]
Expected Output:
Select specific columns:
name score
a Anastasia 12.5
b Dima 9.0
c Katherine 16.5
...
h Laura NaN
i Kevin 8.0
j Jonas 19.0

In [ ]:
import numpy as np
import pandas as pd
data={'name':['Anastasia','Dima','katherine','James','Emily','Michael','Matthew','Laura','Kevin','Jonas'],
      'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
      'attempts':[1,3,2,3,2,3,1,1,2,1],
      'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes']
      }
labels=['a','b','c','d','e','f','g','h','i','j']
df=pd.DataFrame(data,index=labels)
selected_colomns=df[['name','score']]
print("specific colomn")
print(selected_colomns)

specific colomn
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

Write a Pandas program to select the rows where the number of attempts in
the examination is greater than 2.
Sample Python dictionary data and list labels:
exam_data = {&#39;name&#39;: [&#39;Anastasia&#39;, &#39;Dima&#39;, &#39;Katherine&#39;, &#39;James&#39;, &#39;Emily&#39;,
&#39;Michael&#39;, &#39;Matthew&#39;, &#39;Laura&#39;, &#39;Kevin&#39;, &#39;Jonas&#39;],
&#39;score&#39;: [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
&#39;attempts&#39;: [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
&#39;qualify&#39;: [&#39;yes&#39;, &#39;no&#39;, &#39;yes&#39;, &#39;no&#39;, &#39;no&#39;, &#39;yes&#39;, &#39;yes&#39;, &#39;no&#39;, &#39;no&#39;, &#39;yes&#39;]}
labels = [&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;, &#39;e&#39;, &#39;f&#39;, &#39;g&#39;, &#39;h&#39;, &#39;i&#39;, &#39;j&#39;]

In [ ]:
import pandas as pd
import numpy as np
data={'name':['Anastasia','Dima','Katherine','James','emily','michael','Matthew','Laura','Kevin','Jonas'],
      'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
      'attempts':[1,3,2,3,2,3,1,1,2,1],
      'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes'],
      }
labels=['a','b','c','d','e','f','g','h','i','j']
df=pd.DataFrame(data,index=labels)
result=df[df['attempts']>2]
print(result)

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  michael   20.0         3     yes

6. Write a Pandas program to select the rows where the score is missing, i.e.
is NaN.
Sample Python dictionary data and list labels:
exam_data = {&#39;name&#39;: [&#39;Anastasia&#39;, &#39;Dima&#39;, &#39;Katherine&#39;, &#39;James&#39;, &#39;Emily&#39;,
&#39;Michael&#39;, &#39;Matthew&#39;, &#39;Laura&#39;, &#39;Kevin&#39;, &#39;Jonas&#39;],
&#39;score&#39;: [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
&#39;attempts&#39;: [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
&#39;qualify&#39;: [&#39;yes&#39;, &#39;no&#39;, &#39;yes&#39;, &#39;no&#39;, &#39;no&#39;, &#39;yes&#39;, &#39;yes&#39;, &#39;no&#39;, &#39;no&#39;, &#39;yes&#39;]}
labels = [&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;, &#39;e&#39;, &#39;f&#39;, &#39;g&#39;, labels = [&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;, &#39;e&#39;, &#39;f&#39;, &#39;g&#39;, &#39;h&#39;, &#39;i&#39;, &#39;j&#39;]
Expected Output:
Rows where score is missing:
attempts name qualify score
d 3 James no NaN
h 1 Laura no NaN

In [ ]:
import numpy as np
import pandas as pd
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f','h', 'g', 'i','j']

df=pd.DataFrame(exam_data,index=labels)
missing_score=df[df['score'].isna()]
print(missing_score)

    name  score  attempts qualify
d  James    NaN         3      no
g  Laura    NaN         1      no